<h1>Ceci est la page PRIVÉÉÉÉEEEE</h1>
<table class="table">
    <thead>
        <tr>
            <td>Prénom</td>
            <td>Nom</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td>
                <%= user.first_name %>
            </td>
            <td>
                <%= user.last_name %>
            </td>
            <td>
                <%= user.email %>
            </td>
            <td>
            <a href="/users/<%= user.id %>" class="btn btn-outline-dark">Voir le profil</a>
            </td>
            <% if current_user.id == user.id %>
            <td>
    <a href="/users/<%= user.id %>/edit" class="btn btn-warning">Éditer</a>
            </td>
            <% end %>
        </tr>
            <% end %>
    </tbody>


</p>